.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  mat-card {
    width: 50%;
    padding: 60px;
  }
  form {
    display: flex;
    flex-direction: column;
    h2{
      align-self: center;
    }
    button[type=submit] {
      min-height: 50px;
    }
  }
}
